html,body {
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -45px;
}

/* Set the fixed height of the footer here */
#push, #footer {
  height: 15px;
}
#footer {
  padding: 15px 0;
  text-align: center;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container {
  background: #f9f9f9;
}

.lea-container {
  padding-top: 40px;
  text-align: center;
}

.lea-search {
  margin: 40px 0;
}

.lea-search-field {
  width: 450px !important;
}
