<!DOCTYPE html>
<html>
  <head>
    <title>Search 'em all</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" media="screen">
    <link href="{{url_for('static', filename='css/index.css')}}" rel="stylesheet" media="screen">
  </head>
  <body>
    <div id="wrap" class="container">
      <div class="lea-container">
        <h1>Search 'em all</h1>
        <div class="lea-search">
          <div class="input-append">
            <input class="span2 lea-search-field" id="appendedInputButton" type="text" placeholder="Type your query...">
            <button class="btn" type="button">Search</button>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <strong>Built by Wael Al-Sallami, Ashish Agrawal, and Ayden Kim.</strong>
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  </body>
</html>
